@import 'libs';
@import 'common';

.header {
    background: #F8F6F7; 
    background-image: url("/src/img/background.png"); 
    max-height: 600px;
    width: 100%;
    position: relative;
    
    .container {
    padding: 30px 0 130px; 
    }

    &__top {
    margin-bottom: 120px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

}

.navigation {

    &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 0;
    list-style: none; 
    padding: 0;
    }

    &__item:not(:last-child) {
    margin-right: 10px;
    }

    &__link {
    height: 17px;
    color: #333333;
    font-size: 14px;
    }

    &__link_about {
    text-decoration: none;
    }
    
    &__link:hover {
    color: #00BF78;
    }

    &__item_prices:not(:last-child) {
        margin-right: 28px;
    }
    
    &__link_prices:link {
        text-decoration: none;
    }
    
    &__link_prices:visited {
        color: #00BF78;
        text-decoration: underline #00BF78;
    }
}

.phone-info {
    text-align: right;
    min-width: fit-content;
}

.phone {
    text-decoration: none;
    font-size: 18px;
    line-height: 14px;
    margin-bottom: 15px;
    color:#333333;
}

.info {
    margin-top: 5px;
    font-size: 11px;
    line-height: 14px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
}

.header-girl {
    display: block;
    position: absolute;
    bottom: 0;
    right: 24%;
    width: 524px;
    height: 510px;
    z-index: 1;
    overflow: hidden;
}

.header-girl:before {
    content: "";
    display: block;
    width: 472px;
    height: 472px;
    border-radius: 50%;
    background-color: #FB9475;
    position: absolute;
    bottom: -110px;
    right: 0;
    z-index: 0;
}

.header-girl-photo {
    display: block;
    position: relative;
}

.network {

&__item {
    list-style: none;
}

&__item_horizontal {
    display: inline;
}
&__item_horizontal:not(:last-child) {
    padding-bottom: 10px;
}  

&__item:not(:last-child) {
    padding-right: 25px;
}  
}

.credo {
    text-align: left;
}

.credo-title {
    font-size: 48px;
    color: #333333;
    margin-bottom: 17px;
    line-height: 59px;
}

.credo-promise {
    font-size: 20px;
    color: #333333;
    margin-bottom: 59px;
    line-height: 24px;
    max-width: 315px;
}

.credo-button {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    background-color: #FB9475;
    padding: 17px 30px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

.main {
    background:#FFFFFF;

    &__container {
        display: flex;
        justify-content: space-between;
        max-width: 1110px;
        align-items: center;
        margin: 0 auto;
    }

    &__about {
        display: flex;
        flex-direction: column;
        max-width: 540px;
        color: #333333;
        margin-right: 125px;
        margin-top: 94px;
    }

    &__title {
        margin-bottom: 32px;
    }
    
    &__lead {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 16px;
    }
    
    &__item {
        font-size: 16px;
        line-height: 26px;
        text-align: left;
    }

    &__video {
        margin-top: 190px;
        position: relative;
        text-align: center;
        cursor: pointer;
        width: 445px;
        height: 296px;
        border-radius: 8px;
    }
    
    &__videotext {
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }    

}

.icon {
    width:60px;
}

.advantages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 10px;
    max-width: 1110px;
    margin: 0 auto; 

    &__item {
        display: flex;
        flex-direction: column;
        flex: none;
        width: 296px;
        text-align: center;
        margin-top: 110px;
    }
    
    &__name {
        font-size: 18px;
        line-height: 22px;
        color: #333333;
    }
    
    &__description {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #333333;
    }

    &__img {
        margin-left: auto;
        margin-right: auto;
        width:40px;
    }
}

.section {

    &_gray {
        background:#F8F6F7;
    }
    
    &__title {
        padding-top: 80px;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-bottom: 80px;
    }

    &__inner_masters {
        justify-content: space-between;
    }

    &__inner_service-card {
        justify-content: flex-start;
    }

    &__btn {
        border: none;
        cursor: pointer;
        background: none;
    }
    
    &__btn:hover {
        background: #F8F6F7;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    
    &__header_works {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    
    &__inner_works {
        flex-wrap: nowrap;
        box-sizing: content-box;
    }

}

.card-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &__img {
        border-radius: 8px;
    }
    
    &__img_service {
        width: 350px;
        height: 180px;
    }

    &__img_masters {
        width: 255px;
        height: 300px;
    }

    &_masters {
        flex: 25%;
    }
    
    &__img_mask {
        display: block;
        position: relative;
        text-align: center;
    }

    &__text {
        color: #FFFFFF;
        position: absolute;
        font-size: 14px;
        line-height: 17px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility:hidden;
    }

    &__img_mask:hover .card-list__mask {
        opacity: 0.33;
    } 
      
    &__img_mask:hover .card-list__text {
        visibility:visible;
    }

    &__mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #333333;
        opacity: 0;
        border-radius: 8px;
    }

    &__experience {
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

    &__img_works {
        width: 338px;
        height: 338px;
    }
    
    &__img_works:hover {
        transform: scale(1.12);
    }
    
    &__icon {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility:hidden;
    }
    
    &__img_mask:hover .card-list__icon {
        visibility:visible;
    }

    &_service {
        flex-basis: 30%;
        flex-grow: 0;
        flex-shrink: 0;
        padding-bottom: 50px;
        padding-right: 30px;
    }

}

.btn {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    background-color: #FB9475;
    padding: 10px 20px;
    border-radius: 17px;
    border: none;
    cursor: pointer;
}

.price-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; 

    &__item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 45%;
}

&__value {
    color: #00BF78;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
}

&__info {
    text-align: left;
}

&__descr {
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}

}

.brands-descr {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    margin: auto;
    padding-top: 80px;
}

.brands-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 50px;
    padding-bottom: 50px;
    
    &__img {
        opacity: 0.33;
    }
    
}

.container_connection{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contacts {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    .adress {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 20px;
    }

    .phone {
        font-size: 16px;
        line-height: 14px;
    }

    .email {
        font-size: 16px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #278AFF;
    }

    .social {
        font-size: 12px;
        line-height: 14px;
        padding-top: 32px;
    }
}

.form {
    width: 50%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 445px;
    height: 406px;

    &__lead {
        font-size: 14px;
        line-height: 20px;
        width: 374px;
    }

    &__inner {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;
        gap: 20px;
    }

    &__input {
        border-color: #A0A0A0;
        border-radius: 5px;
        align-self: stretch;
        width: 375px;
        height: 44px;
    }

    .submit {
        font-size: 12px;
        line-height: 15px;
    }
    
    &__btn {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    background-color: #FB9475;
    border-radius: 24px;
    align-self: stretch;
    border: none;
    cursor: pointer;
    width: 375px;
    height: 48px;
}
}



.footer {
    display: flex;
    justify-content: space-between;
    flex: none;
    padding: 20px 165px;

    &__content {
        text-align: left;
    }
    
    &__copyright {
        font-size: 12px;
        line-height: 15px;
        color: #333333;
        margin-bottom: 8px;
    }
    
    &__privacy {
        font-size: 12px;
        line-height: 15px;
        color: #278AFF;
    }
    
    &__navigation-list {
        display: flex;
        list-style: none;
        padding: 0;
    }
    
    &__navigation-item:not(:last-child) {
        margin-right: 20px;
    }
    
    &__navigation-link {
        color: #333333;
        font-size: 12px;
        line-height: 15px;
        text-decoration: none;   
    }
}

@import 'media';